body{
	font-family: Cuprum, PT Sans, sans-serif;
	margin: 0;
}


.main-header{
	background-color: #f3f7f8;
	height: 320px;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.search,
.user-navigation,
.site-navigation,
.last-footer{
	background-color: #293449;
}


.main-header-logo{
	background-size: 220px 47px;
	background-color: #ee3643;
	padding: 15px 56px;
	box-shadow:  0px 5px #9a212a;
}

.main-header-logo:hover{
	background-color: #ca2c37;
}

.main-header-logo:focus{
	background-color: #ee3643;

}

input[type="button"]{
	border: none;
	font-family: Cuprum;
	line-height: 18px;
	font-size: 17px;
	background-color: transparent;
	color: #ffffff;
}


.search{
	padding-right: 85px; 
}

.search input{
	position: relative;
	padding-left: 30px; 
}

.search input{
    right: 20px;
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

}

.user-navigation .user-navigation-bookmarks-link,
.user-navigation-basket-link{
	position: relative;
	padding-left: 50px;
} 

.user-navigation-bookmarks-link::before{
	content: " ";
	position: absolute;
	left: 27px;
	width: 14px;
	height: 16px;
	background-image: url(../img/icon-bookmark.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.user-navigation-basket-link::before{
    content: " ";
	position: absolute;
	left: 2px;
	width: 14px;
	height: 16px;
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.user-navigation-bookmarks-link:hover::before,
.user-navigation-basket-link:hover::before{
	opacity: 1;
}

.user-navigation-bookmarks-link:active::before,
.user-navigation-basket-link:active::before{
	opacity: 0.5;
}

.user-navigation a{
	font-family: Cuprum;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;	
}

.user-navigation-bookmarks a{
	background-size: 150px 42px;
	padding: 17px 28px 16px 44px;

}

.user-navigation-basket a{
	background-size: 150px 42px;
	padding: 17px 28px;

}

.user-navigation a:active{
	background-color: #161d29;
}

.user-navigation-current a{
	background-size: 150px 42px;
	background-color: #63a63e;
	padding: 17px 22px 17px 20px;

}

.user-navigation-current a:hover{
	background-color: #5fbb2d;
}

.user-navigation-current a:active{
	background-color: #518534;
	opacity: 0.5;

}


.tagline{
	font-family: Cuprum;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	padding-left: 33px;

}

.contacts .contacts-link{
	position: relative;
	padding-left: 59px;
}

.contacts-link::before{
	content: "";
	position: absolute;
	left: 18px;
	width: 19px;
	height: 19px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	

}

.contacts{
	margin-top: 30px;
}
.contacts .contacts-link{
	width: 270px;
	height: 45px;
	padding: 9px 52px 9px 74px;
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	border: 3px solid #ffffff;
}

.address{
	font-family: Cuprum;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin-left: 13px;
}

.acount-action-list{
	margin-bottom: 40px;

}

.login-button,
.registration-button{
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	border: none;
	background: #ffffff;
}

.login-button{
	width: 121px;
	height: 45px;
}

.login-link .login-button{
	position: relative;
	padding-left: 40px;
} 

.login-button::before{
	content: "";
	position: absolute;
	left: 24px;
	width: 20px;
	height: 17px;
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.login-button:hover::before{
	opacity: 1;
}

.login-link .login-button:hover,
.registration-button:hover{
	color: red;
}

.login-link .login-button:active::before,
.login-link .login-button:active,
.registration-button:active{
	opacity: 0.3;
	color: black;
}
	

.registration-button{
	width: 150px;
	height: 45px;
}

.site-navigation{
	background-color: #32425c;
	box-shadow: 0px 5px #293449;
}

.site-navigation a:hover{
	background-color: #293449;
}

.site-navigation a:active{
    opacity: 0.5;
}

.site-navigation a{
	font-family: Cuprum;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	padding: 20px 31px 26px 31px;

}

.cooperation{
	margin-bottom: 86px;
}

.technomart-company{
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	
}

.slogan{
	font-family: PTSans,sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.cooperation-list {
	font-family: Cuprum;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.about-us{
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643; 


}

.about-us-button{
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	width: 300px;
	height: 38px;
	border: none;

}

.contacts-maps{
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	color: #000000;

}

.office{
	font-family: PTSans,sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.main-footer{
	background-color: #32425c;
}

.contacts-footer{
	font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.site-navigation-footer a{
	font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;

}

.navigation a{
	font-family: Cuprum;
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.copyrigh,
.feedback,
.footer-copyright{
	font-family: Cuprum;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.feedback a{
	color: #ffd180;
}

.footer-copyright a{
	color: #ffd180;
}

/*Временно для сетки*/


.main-header-top-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 940px;
	margin: 0 auto;
}

.main-header-top{
	background-color: #293449;
}


.user-navigation{
	display: flex;
	align-items: center;
	width: 434px;
	justify-content: space-around;
	
}

.main-header-center{
	display: flex;
    min-height: 155px;
    width: 940px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.acount-action-list{
	display: flex;
	width: 282px;
	justify-content: space-between;
}

.site-navigation{
	display: flex;
	flex-wrap: wrap;
	min-height: 60px;
	align-items: center;
	max-width: 940px;
	justify-content: space-around; 
	padding: 0;
	margin: 0 auto;
}

.cooperation{
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin-left: 130px;
}

.main-footer{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.main-navigation{
	display: flex;
	min-height: 69px;
	width: 940px;
	justify-content:space-between;
	align-items: center;
}	

.site-navigation-footer{
	display: flex;
	width: 547px;
	justify-content: space-between;
	
}

.navigation-wrapper{
	display: flex;
	width: 940px;
	justify-content: space-between;

}

.navigation {
	display: flex;
	flex-wrap: wrap;
	width: 523px;
	justify-content: space-between;

}



.last-footer{
	display: flex;
	width: 940px;
	min-height: 107px;
	align-items: center;
	justify-content: space-between;

}


.footer-social{
	display: flex;
	width: 132px;
	justify-content: space-around;

}

.feedback{
	display: flex;
	flex-direction: column;
}

.footer-copyright{
	display: flex;
	flex-direction: column;
}