body{
	font-family: Cuprum, PT Sans, sans-serif;
}


.main-header{
	background-color: #f3f7f8;;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.search,
.user-navigation,
.site-navigation,
.last-footer{
	background-color: #293449;
}


.main-header-logo img:hover{
	background-color: #ca2c37;
}

.main-header-logo img:focus{
	background-color: #ee3643;
}

.user-navigation a{
	font-family: Cuprum;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;	
}

.user-navigation a:active{
	background-color: #161d29;

}

.tagline{
	font-family: Cuprum;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;

}

.contacts a{
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
}

.address{
	font-family: Cuprum;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.login-button,
.registration-button{
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.site-navigation a{
	font-family: Cuprum;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;

}

.cooperation{
	margin-bottom: 86px;
}

.technomart-company{
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	
}

.slogan{
	font-family: PTSans,sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.cooperation-list {
	font-family: Cuprum;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.about-us{
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643; 


}

.about-us-button{
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	width: 300px;
	height: 38px;
	border: none;

}

.contacts-maps{
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	color: #000000;

}

.office{
	font-family: PTSans,sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.main-footer{
	background-color: #32425c;
}

.contacts-footer{
	font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.site-navigation-footer a{
	font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;

}

.navigation a{
	font-family: Cuprum;
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.copyrigh,
.feedback,
.footer-copyright{
	font-family: Cuprum;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.feedback a{
	color: #ffd180;
}

.footer-copyright a{
	color: #ffd180;
}

/*Временно для сетки*/


.main-header{
	display: flex;
	min-height: 320px;
	flex-direction: column;
	align-items: center;
}

.main-header-top-wrapper{
	max-width: 940px;
	margin: 0 auto;
}

.main-header-top{
	display: flex;
	width: 100%;
	padding-left: 130px;
	padding-right: 130px; 
	min-height: 42px;
	align-items: center;
	justify-content: space-around;
	background-color: #293449;

}

.user-navigation{
	display: flex;
	align-items: center;
	width: 434px;
	padding-right: 40px; 
	justify-content: space-around;
	
}

.main-header-center{
	display: flex;
    min-height: 155px;
    width: 940px;
    align-items: center;
    justify-content: space-between;
}

.acount-action-list{
	display: flex;
}

.site-navigation{
	display: flex;
	flex-wrap: wrap;
	min-height: 60px;
	align-items: center;
	width: 940px;
	justify-content: space-around; 
	padding: 0;
}

.cooperation{
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin-left: 130px;
}

.main-footer{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.main-navigation{
	display: flex;
	min-height: 69px;
	width: 940px;
	justify-content:space-between;
	align-items: center;
}	

.site-navigation-footer{
	display: flex;
	width: 547px;
	justify-content: space-between;
	
}

.navigation-wrapper{
	display: flex;
	width: 940px;
	justify-content: space-between;

}

.navigation {
	display: flex;
	flex-wrap: wrap;
	width: 523px;
	justify-content: space-between;

}



.last-footer{
	display: flex;
	width: 940px;
	min-height: 107px;
	align-items: center;
	justify-content: space-between;

}


.footer-social{
	display: flex;
	width: 132px;
	justify-content: space-around;

}

.feedback{
	display: flex;
	flex-direction: column;
}

.footer-copyright{
	display: flex;
	flex-direction: column;
}