body{
	font-family: Cuprum, PT Sans, sans-serif;
	margin: 0;
}


.main-header{
	background-color: #f3f7f8;
	height: 320px;
	margin-bottom: 59px;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.visually-hidden{
	display: none;
}
.search,
.user-navigation,
.site-navigation,
.last-footer{
	background-color: #293449;
}


.main-header-logo{
	background-size: 220px 47px;
	background-color: #ee3643;
	padding: 15px 35px;
	box-shadow:  0px 5px #9a212a;
}

.main-header-logo:hover{
	background-color: #ca2c37;
}

.main-header-logo:focus{
	background-color: #ee3643;

}

.search input{
	align-items: center;
    width: 270px;
    padding-left: 50px;
    color: #ffffff;
    text-align: left;
    background-color: #293449;
    border: none; 

}
.search path{
	fill: #ffffff;
	opacity: 0.3;
}

.search:hover path{
	fill: #ffffff;
	opacity: 1;
}

.search label{
	position: relative;
}

.search svg{
	position: absolute;
    /*top: 5px;*/
    left: 15px; 
}

.search input:focus{
    padding-top: 19px;
    padding-bottom: 19px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    outline: none;
 
}

.search:active path,
.search:focus path{
	fill: #ee3643;
	opacity: 1;
}



.user-navigation .user-navigation-bookmarks-link,
.user-navigation-basket-link{
	position: relative;
	padding-left: 50px;
} 

.user-navigation-bookmarks-link::before{
	content: " ";
	position: absolute;
	left: 27px;
	width: 14px;
	height: 16px;
	background-image: url(../img/icon-bookmark.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.user-navigation-basket-link::before{
    content: " ";
	position: absolute;
	left: 2px;
	width: 14px;
	height: 16px;
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.user-navigation-bookmarks-link:hover::before,
.user-navigation-basket-link:hover::before{
	opacity: 1;
}

.user-navigation-bookmarks-link:active::before,
.user-navigation-basket-link:active::before{
	opacity: 0.5;
}

.user-navigation a{
	font-family: Cuprum;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;	
}

.user-navigation-bookmarks a{
	background-size: 150px 42px;
	padding: 17px 28px 16px 44px;

}

.user-navigation-basket a{
	background-size: 150px 42px;
	padding: 17px 28px;

}

.user-navigation a:active{
	background-color: #161d29;
}

.user-navigation-current a{
	background-size: 150px 42px;
	background-color: #63a63e;
	padding: 17px 22px 17px 20px;

}

.user-navigation-current a:hover{
	background-color: #5fbb2d;
}

.user-navigation-current a:active{
	background-color: #518534;
	opacity: 0.5;

}


.tagline{
	font-family: Cuprum;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	padding-left: 33px;

}

.contacts .contacts-link{
	position: relative;
	padding-left: 59px;
}

.contacts-link::before{
	content: "";
	position: absolute;
	left: 18px;
	width: 19px;
	height: 19px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	

}

.contacts{
	margin-top: 30px;
}
.contacts .contacts-link{
	width: 270px;
	height: 45px;
	padding: 9px 52px 9px 74px;
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	border: 3px solid #ffffff;
}

.address{
	font-family: Cuprum;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin-left: 13px;
}

.acount-action-list{
	margin-bottom: 40px;

}

.login-button,
.registration-button{
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	border: none;
	background: #ffffff;
}

.login-button{
	width: 121px;
	height: 45px;
}

.login-link .login-button{
	position: relative;
	padding-left: 40px;
} 

.login-button::before{
	content: "";
	position: absolute;
	left: 24px;
	width: 20px;
	height: 17px;
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.login-button:hover::before{
	opacity: 1;
}

.login-link .login-button:hover,
.registration-button:hover{
	color: red;
}

.login-link .login-button:active::before,
.login-link .login-button:active,
.registration-button:active{
	opacity: 0.3;
	color: black;
}
	

.registration-button{
	width: 150px;
	height: 45px;
}

.site-navigation{
	background-color: #32425c;
	box-shadow: 0px 5px #293449;
}

.site-navigation a:hover{
	background-color: #293449;
}

.site-navigation a:active{
    opacity: 0.5;
}

.site-navigation a{
	font-family: Cuprum;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	padding: 20px 31px 26px 31px;

}

.technomart-company{
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	
}

.slogan{
	font-family: PTSans,sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	padding-bottom: 10px;

}

.cooperation-list {
	font-family: Cuprum;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	padding-bottom: 28px;
}



.cooperation-list .cooperation-list-one,
.cooperation-list .cooperation-list-two,
.cooperation-list .cooperation-list-three{
	position: relative;
}

.cooperation-list-one::before,
.cooperation-list-two::before,
.cooperation-list-three::before{
	content: "";
	position: absolute;
	top: 10px;
	left: -40px;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.about-us{
	font-family: Cuprum;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	padding: 11px 45px;
	background-color: #ee3643;
	border-radius: 3px; 
	 
}
 
.about-us-button{
	font-family: Cuprum;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	width: 300px;
	height: 38px;
	border: none;
	border-radius: 3px;

}

.contacts-maps{
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	color: #000000;

}

.office{
	font-family: PTSans,sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	padding-bottom: 19px;

}

.office-img{
	padding-bottom: 39px;
}

.main-footer{
	background-color: #32425c;
}

.main-footer-logo{
	background-size: 220px 68px;
	background-color: #ee3643;
	padding: 21px 41px;
	margin-bottom: 21px; 
	box-shadow:  0px 5px #9a212a;

}

.contacts-footer{
	font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.site-navigation-footer a{
	font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;

}

.navigation a{
	font-family: Cuprum;
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.site-navigation-footer a:hover,
.navigation a:hover{
     text-decoration: underline;

}

.site-navigation-footer a:active,
.navigation a:active{
     opacity: 0.5;

}

.copyrigh,
.feedback,
.footer-copyright{
	font-family: Cuprum;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.social-button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: #212a3a;
}

.social-button:hover{
	background-color: #ee3643;
}

.social-button:active{
	background-color: #ee3643;
}

.feedback a{
	color: #ffd180;
}

.footer-copyright a{
	color: #ffd180;
}

.feedback a:hover,
.footer-copyright a:hover{
	text-decoration: underline;
}

.feedback a:active,
.footer-copyright a:active{
	color: #ee3643;
}

/*Временно для сетки*/



.main-header-top-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 940px;
	margin: 0 auto;
}

.main-header-top{
	background-color: #293449;
}


.user-navigation{
	display: flex;
	align-items: center;
	width: 434px;
	justify-content: space-around;
	
}

.main-header-center{
	display: flex;
    min-height: 155px;
    width: 940px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.acount-action-list{
	display: flex;
	width: 282px;
	justify-content: space-between;
}

.site-navigation{
	display: flex;
	flex-wrap: wrap;
	min-height: 60px;
	align-items: center;
	max-width: 940px;
	justify-content: space-around; 
	padding: 0;
	margin: 0 auto;
}

.catalog-item-materials{
	width: 300px;
	height: 123px;
	background-color: #ffbf47;
}

.catalog-item-materials h3,
.catalog-item-instrument h3,
.catalog-item-technics h3,
.catalog-item-discounts h3,
.catalog-item-delivery h3{
	font-family: Cuprum;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	margin-left: 23px;
}

.catalog-item-materials a{
	font-family: Cuprum;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 18px;
	color: #ffffff;
	padding: 12px 24px 12px 24px;
	background-color: #000000;
	margin-left: 25px;
	border-radius: 3px;
	opacity: 0.1;
}


.catalog-item-materials a:hover,
.catalog-item-instrument a:hover,
.catalog-item-technics a:hover,
.catalog-item-discounts a:hover,
.catalog-item-delivery a:hover{
	opacity: 0.2;
}

.catalog-item-materials a:active,
.catalog-item-instrument a:active,
.catalog-item-technics a:active,
.catalog-item-discounts a:active,
.catalog-item-delivery a:active{
	opacity: 0.3;
}


.catalog-list-one .catalog-item-materials,
.catalog-list-one .catalog-item-instrument,
.catalog-list-one .catalog-item-technics,
.catalog-list-three .catalog-item-discounts,
.catalog-list-three .catalog-item-delivery{
	position: relative;

}

.catalog-item-materials::before{
	content: "";
	position: absolute;
	width: 44px;
	height: 65px;
	left: 213px;
	top: 31px;
	background-image: url(../img/icon-1.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}


.catalog-item-instrument{
	width: 300px;
	height: 123px;
	background-color: #3bbce3;
}

.catalog-item-instrument a{
	font-family: Cuprum;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 18px;
	color: #ffffff;
	padding: 12px 27px 12px 27px;
	background-color: #000000;
	margin-left: 25px;
	border-radius: 3px;
	opacity: 0.1;
}

.catalog-item-instrument::before{
	content: "";
	position: absolute;
	width: 75px;
	height: 61px;
	left: 197px;
	top: 33px;
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-item-technics{
	width: 300px;
	height: 123px;
	background-color: #dc91d8;
}

.catalog-item-technics a{
    font-family: Cuprum;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 18px;
	color: #ffffff;
	padding: 12px 31px 12px 30px;
	background-color: #000000;
	margin-left: 25px;
	border-radius: 3px;
	opacity: 0.1;
}

.catalog-item-technics::before{
	content: "";
	position: absolute;
	width: 78px;
	height: 62px;
	left: 191px;
	top: 31px;
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slader{
	width: 620px;
	height: 266px;
	background-image: url(../img/drill.jpg);
}

.slader h3{
	font-family: Cuprum;
	font-size: 36px;
	line-height: 36px;
	color: #ffffff;
	margin-left: 24px;
	margin-top: 27px;

}

.slader p{
	font-family: Cuprum;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	margin-top: -30px;
	margin-left: 25px;
}

.slader a{
	position: absolute;
	font-family: Cuprum;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	padding: 12px 45px 12px 49px;
	border-radius: 3px;
	margin-top: 99px;
	margin-left: 25px;
}

.slader a:hover{
	background-color: #ca2c37;
}
.slader a:active{
	background-color: #ba2732;
}

.catalog-item-discounts{
	width: 300px;
	height: 123px;
	background-color:#8ed78f; 
}

.catalog-item-discounts a{
    font-family: Cuprum;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 18px;
	color: #ffffff;
	padding: 12px 23px 12px 23px;
	background-color: #000000;
	margin-left: 25px;
	border-radius: 3px;
	opacity: 0.1;
}

.catalog-item-discounts::before{
	content: "";
	position: absolute;
	width: 59px;
	height: 72px;
	left: 196px;
	top: 26px;
	background-image: url(../img/icon-4.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-item-delivery{
	width: 300px;
	height: 123px;
	background-color: #ffc047;
}

.catalog-item-delivery a{
	font-family: Cuprum;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 18px;
	color: #ffffff;
	padding: 12px 37px 12px 37px;
	background-color: #000000;
	margin-left: 25px;
	margin-bottom: 5px;
	border-radius: 3px;
	opacity: 0.1;
}

.catalog-item-delivery::before{
	content: "";
	position: absolute;
	width: 78px;
	height: 63px;
	left: 191px;
	top: 32px;
	background-image: url(../img/icon-5.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.call-to-action-container{
	display: flex;
	width: 940px;
	min-height: 409px;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 53px;

}

.catalog-list-one{
	display: flex;
	justify-content: space-between;
	width: 940px;
	padding-top: 20px;
	padding: 0;
	margin: 0 auto;
    
}

.catalog-list-two{
	display: flex;
	min-height: 266px;
	justify-content: space-between;	
	align-items: flex-start;
	padding-top: 20px;
}

.catalog-list-three{
	display: flex;
	min-height: 266px;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 20px;
	margin: 0 auto;
}

.cooperation{
	display: flex;
	justify-content: space-between;
	padding: 82px 205px;
	width: 940px;
	align-items: baseline;
	
}

.cooperation-wrapper-two{
	width: 300px;
}

.popular-products-wrapper{
	display: flex;
	width: 940px;
	height: 89px;
	background-color: #f9f5f0;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 21px;

}

.popular-products-wrapper h2{
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	padding-left: 30px;
}

.popular-products-wrapper a{
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 12px 55px 12px 55px;
	background-color: #ee3643;
	border-radius: 3px;
	margin-right: 21px;

}

.catalog-list{
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto;
	padding-right: 39px;
	margin-bottom: 21px;
}


.catalog-list-item{
	position: relative;
    width: 218px;  
    text-align: center; 
    border: 1px solid #eaeaea;
}


.catalog-category{
	position: relative;
    font-family: Cuprum;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    width: 155px;
    padding: 0 32px;
    bottom: 15px;
    color: #000000;

}

.catalog-list-item img{
	width: 218px;
	height: 168px;
}

.catalog-list-item .discount{
	position: relative;
	font-family: Cuprum;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
	bottom: 20px;

}

.catalog-list-item .price{
	position: relative;
    font-family: Cuprum;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	padding: 10px 40px 11px 36px;
	background-color: #ee3643;
	bottom: 15px;
	border-radius: 3px;
}

.catalog-list-item .price-last{
	top: 20px;
}

.catalog-list-item .price:after{
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 20px solid #ffffff;
	border-left-color: #ee3643;

}

.catalog-list-item .flag{
	position: absolute;
	top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.catalog-list-item .flag-new{
	background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-list-item .action{
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: #ffffff;
	opacity: 0.9;
	z-index: 10; 
} 

.catalog-list-item .action .action-buy,
.catalog-list-item .action .action-boolmark{
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}

.catalog-list-item .action .action-boolmark{
	color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.catalog-list-item .action{
	display: none;
}

.catalog-list-item:hover .action{
	display: block;
}

.catalog-list-item:hover{
	box-shadow: 0 10px 17px rgba(0,0,0,0.5);
}

.catalog-list-item .action-buy{
	position: relative;
	padding-left: 50px;
} 

.action-buy::before{
	content: " ";
	position: absolute;
	left: 12px;
	width: 14px;
	height: 16px;
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.action-buy:hover::before{
	opacity: 1;	
}

.catalog-list-item .action-buy:hover{
	background-color: #5fbb2d;
	border-color: #5fbb2d;
	border-bottom-color: #367315;
}

.catalog-list-item .action-buy:active{
	background-color: #518534;
	border-color: #518534;

}

.catalog-list-item .action-boolmark:hover{
	border-color: #32425c;
}

.catalog-list-item .action-boolmark:active{
	opacity: 0.3;
}

.popular-manufacturers-wrapper{
	display: flex;
	width: 940px;
	height: 89px;
	background-color: #f9f5f0;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 21px;


}

.popular-manufacturers-wrapper h2{
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	padding-left: 30px;
}

.popular-manufacturers-wrapper a{
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 12px 70px 12px 69px;
	background-color: #ee3643;
	border-radius: 3px;
	margin-right: 21px;

}

.popular-manufacturers-list{
	display: flex;
	width: 940px;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-right: 39px;	
}

.popular-manufacturers-item{
	display: flex;
	align-items: center;
	width: 220px;
	height: 145px;
	border: 1px solid #eaeaea;
	margin-bottom: 20px;

}

.popular-manufacturers-item img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.popular-manufacturers-item:hover{
	box-shadow: 0 10px 17px rgba(0,0,0,0.5);
}

.popular-manufacturers-item:active{
	opacity: 0.3;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.services{
	height: 522px;
	background-color: #f4f7f9;
	display: flex;
	flex-direction: column;
	margin-top: 65px;
}

.services-wrapper{
	width: 940px;
	margin: 0 auto;
	justify-content: space-between;
	padding-top: 48px;
}

.services h2{
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;


}

.services p{
	font-family: PTSans,sans-serif;
	font-size: 13px;
	line-height: 24px;
}
/*
.services-list-delivery,
.services-list-guaranty,
.services-list-credit{
	font-family: Cuprum;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: #ffffff;
	position: relative;
	width: 240px;
	padding: 16px 0px 17px 22px;
	background-color: #32425c;

}
*/

button{
	height: 61px;
	width: 240px;
}

div.left{
	display: flex;
	flex-direction: column;
}

div.services-list-container{
	display: flex;
}

.right div{
	/*height: 120px;
	width: 200px;	*/

}

.left{
	padding-top: 50px;
}

.right .first{
	/*background-color: red;*/
	display: none;
}

.services-list-container .input1:checked~.right .first{
	display: block;
	background-image: url(../img/delivery.png);
	background-repeat: no-repeat;
	background-position: top 40px left 230px;
	width: 700px;
	height: 261px;
}

.right .second{
	/*background-color: #523;*/
	display: none;
}

.services-list-container .input2:checked~.right .second{
	display: block;
	background-image: url(../img/guarantee.png);
	background-repeat: no-repeat;
	background-position: top 15px left 312px;
	width: 700px;
	height: 283px;
}	

.second p{
	width: 400px;
}

.right .third{
	/*background-color: #a23;*/
	display: none;
}
.services-list-container .input3:checked~.right .third{
	display: block;
	background-image: url(../img/credit.png);
	background-repeat: no-repeat;
	background-position: top 15px left 235px;
	width: 700px;
	height: 285px;
}

.services-list-container .input1:checked~.left label[for="first-button"],
.services-list-container .input2:checked~.left label[for="second-button"],
.services-list-container .input3:checked~.left label[for="third-button"]{
	/*background-color: #ffffff;*/
	/*color: #32425c;*/
}

.list-delivery{
	font-family: Cuprum;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: #ffffff;
	padding: 17px 140px 17px 22px;
	background-color: #32425c;
}

.list-guaranty{
	font-family: Cuprum;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: #ffffff;
	padding: 17px 140px 17px 23px;
	background-color: #32425c;
}

.list-credit{
	font-family: Cuprum;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: #ffffff;
	padding: 17px 140px 17px 23px;
	background-color: #32425c;
}

.list-delivery:hover,
.list-guaranty:hover,
.list-credit:hover{
	background-color: #293449;
}

.list-delivery:focus{
	color: #32425c;
	background-color: #ffffff;
}
.right h3{
	font-family: Cuprum;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;
	position: relative;
	padding-top: 12px;
} 

.right span{
	position: relative;
	left: 80px;
}

.right p{
	position: relative;
	bottom: 10px;
}

.main-navigation{
	display: flex;
	min-height: 90px;
	width: 940px;
	justify-content:space-between;
	align-items: center;
	margin: 0 auto;
}	

.site-navigation-footer{
	display: flex;
	width: 547px;
	justify-content: space-between;
	padding-top: 20px; 
	
}

.navigation-wrapper{
	display: flex;
	width: 940px;
	justify-content: space-between;
	align-items: center;
	align-items: baseline;
	margin: 0 auto;
}

.navigation {
	display: flex;
	width: 523px;
	justify-content: space-between;
    padding-left: 60px;
}

.last-footer-wrapper{
	background-color: #293449;
}

.last-footer{
	display: flex;
	width: 940px;
	min-height: 107px;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.footer-social{
	display: flex;
	width: 132px;
	justify-content: space-around;

}

.feedback{
	display: flex;
	flex-direction: column;
}

.footer-copyright{
	display: flex;
	flex-direction: column;
}